@charset "utf-8";
     body.dark {
        background: #292c35;
      }
      .checkbox {
        opacity: 0;
        position: absolute;
      }

      .label {
        background-color: #111;
        border-radius: 50px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px;
        position: relative;
        height: 26px;
        width: 50px;
        transform: scale(1.5);
        top: 7px;
      }

      .label .ball {
        background-color: #fff;
        border-radius: 50%;
        position: absolute;
        top: 2px;
        left: 2px;
        height: 22px;
        width: 22px;
        transform: translateX(0px);
        transition: transform 0.2s linear;
      }

      .checkbox:checked + .label .ball {
        transform: translateX(24px);
      }

      .fa-moon-o {
        color: #f1c40f;
      }

      .fa-sun-o {
        color: #f39c12;
        margin-left: 5px;
      }
      @media (min-width: 768px) {
        .navbar-nav.navbar-center {
          position: absolute;
          left: 50%;
          transform: translatex(-50%);
        }
      }
      a {
        text-decoration: none;
      }
      .card-sl {
        border-radius: 8px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
          0 6px 20px 0 rgba(0, 0, 0, 0.19);
      }

      .card-image img {
        max-height: 100%;
        max-width: 100%;
        border-radius: 8px 8px 0px 0;
      }

      .card-action {
        position: relative;
        float: right;
        margin-top: -25px;
        margin-right: 20px;
        z-index: 2;
        color: #e26d5c;
        background: #fff;
        border-radius: 100%;
        padding: 15px;
        font-size: 15px;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2),
          0 1px 2px 0 rgba(0, 0, 0, 0.19);
      }

      .card-action:hover {
        color: #fff;
        background: #e26d5c;
        -webkit-animation: pulse 1.5s infinite;
      }

      .card-heading {
        font-size: 18px;
        font-weight: bold;
        background: #fff;
        padding: 10px 15px;
      }

      .card-text {
        padding: 10px 15px;
        background: #fff;
        font-size: 14px;
        color: #636262;
      }

      .card-button {
        display: flex;
        justify-content: center;
        padding: 10px 0;
        width: 100%;
        background-color: #25a34f;
        color: #fff;
        border-radius: 0 0 8px 0px;
      }

      .card-button:hover {
        text-decoration: none;
        background-color: #1d9a47;
        color: #fff;
      }
      .card-like {
        display: flex;
        justify-content: center;
        padding: 10px 0;
        width: 100%;
        background-color: #007aff;
        color: #fff;
        border-radius: 0 0 0px 8px;
      }

      .card-like:hover {
        text-decoration: none;
        background-color: #0372e9;
        color: #fff;
      }
      @-webkit-keyframes pulse {
        0% {
          -moz-transform: scale(0.9);
          -ms-transform: scale(0.9);
          -webkit-transform: scale(0.9);
          transform: scale(0.9);
        }

        70% {
          -moz-transform: scale(1);
          -ms-transform: scale(1);
          -webkit-transform: scale(1);
          transform: scale(1);
          box-shadow: 0 0 0 50px rgba(90, 153, 212, 0);
        }

        100% {
          -moz-transform: scale(0.9);
          -ms-transform: scale(0.9);
          -webkit-transform: scale(0.9);
          transform: scale(0.9);
          box-shadow: 0 0 0 0 rgba(90, 153, 212, 0);
        }
      }
      .card-like,
      .card-button {
        float: left;
        width: 50%;
      }
      .col-sm-4 {
        margin-top: 20px;
      }
      article {
        margin-bottom: 60px;
      }
      